<div class="navbar">
  <div class="navbar__logo">
    <img src="../../../assets/logo.png" alt="Logo">
  </div>
  <div class="navbar__menu">
    <ul class="navbar__menu__lista">
      <li class="navbar__menu__lista__option">
        <a href="#">Home</a>
      </li>
      <li class="navbar__menu__lista__option">
        <a href="#">About</a>
      </li>
      <li class="navbar__menu__lista__option">
        <a href="#">Services</a>
      </li>
      <li class="navbar__menu__lista__option">
        <a href="#">contact</a>
      </li>
    </ul>
  </div>
  <div class="navbar__account">
    <div class="navbar__account__avatar">
      <img src="../../../assets/images.jpg" alt="Avatar">
    </div>
    <div class="navbar__account__logout">
      <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
    </div>
  </div>
</div>
