<div class="navbar">
  <div class="navbar__logo">
    <img src="" alt="Logo">
  </div>
  <div class="navbar__menu">
    <ul class="navbar__menu__lista">
      <li class="navbar__menu__lista__option">
        <a href="#">Home</a>
      </li>
      <li class="navbar__menu__lista__option">
        <a href="#">About</a>
      </li>
      <li class="navbar__menu__lista__option">
        <a href="#">Services</a>
      </li>
      <li class="navbar__menu__lista__option">
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
  <div class="navbar__account">
    <div class="navbar__account__avatar">
      <img src="" alt="Avatar">
    </div>
    <div class="navbar__account__logout">
      <span>Icono de salir</span>
    </div>
  </div>
</div>
