<div class="sidebar">
	<div class="sidebar__head">
		<span>Nombre y Apellido</span>
		<span>Correo</span>
		<span>Telefono</span>
	</div>
	<div class="sidebar__content">
		<ul class="sidebar__content__lista">
			<li class="sidebar__content__lista__option"><a href="#">Option 1</a></li>
			<li class="sidebar__content__lista__option"><a href="#">Option 2</a></li>
			<li class="sidebar__content__lista__option"><a href="#">Option 3</a></li>
			<li class="sidebar__content__lista__option"><a href="#">Option 4</a></li>
			<li class="sidebar__content__lista__option"><a href="#">Option 5</a></li>
			<li class="sidebar__content__lista__option"><a href="#">Option 6</a></li>
			<li class="sidebar__content__lista__option"><a href="#">Option 7</a></li>
		</ul>
	</div>
	<div class="sidebar__footer">
		<span>Configuraciones</span>
	</div>
</div>
